<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
      

        <%if(isAdmin){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
  
        <%for (let i=0; post.requests.length > i; i++) { %>
          
          <% if(!post.requests.includes(post.accepted.map(e=>Object.values(e)))) { %>
           <div>
              <button class="btn btn-primary" >Pending Request From <%= post.requests[i] %></button>
              <form
              action="/post/acceptRequest/<%= post.requests[i] %>?_method=PUT"
              method="POST"
              class="col-3"
              >
              <button class="btn btn-primary accept" id="<%= post.id %>" type="submit">Accept</button>
            </form>
            </div>
            
            
            <form
            action="/post/denyRequest/<%= post.id %>?_method=PUT"
            method="POST"
            class="col-3"
            >
              <button class="btn btn-primary">Deny</button>
            </form>
          <%}%>
        <%}%>
        <%}%>
  
        
          <form
          class="col-1"
          action="/post/joinPost/<%= post._id %>?_method=PUT"
          method="POST"
        >
        <%if(!isAdmin){ %>
          <button class="btn btn-primary" type="submit">Join</button>
        <%}%>
        
      
        
         </form>
        
      </div>
    </div>
    <div>
   
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.level %></p>
    </div>
    <form
    action="/comments/createComments/<%= post._id %>" method="POST"
    >
      <input type="text" name="comment"></input>
    </form> 
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>
<script>
  const acceptButton = document.querySelectorAll('.accept')
  acceptButton.forEach(button => button.addEventListener('click', (e) => {
   const id = e.target.getAttribute('id')
   const requesterId = e.target.parentNode.childNodes[1]
   console.log(requesterId)
  })) 
</script>
<%- include('partials/footer') -%>
